{% extends 'registration/base.html' %}
{% block title %}
  <title>login</title>
{% endblock %}
{% block body %}
<div id="back-color">
  <div id="logo">Docoico(ロゴ)</div>
  <div id="right-display">
    <div id="back-image">
      <p>chat✖️scheduler</p>
    </div>
    <div id="right-box">
      <div id="login-title">Welcome Docoico</div>
      <div id="login-box">
        <form class="registration-form2" method="post">
          <div id="input-box">
            <input type="text" placeholder="Email" name="email" />
          </div>
          <div id="input-box2">
          <input type="password" placeholder="Password" name="password" />
          </div>
          <div id="button-box"><button class="green">ログイン</button></div>
        </form>
      </div>
      <div id="singup-button">
        <a class="switch-register-mode" href="{{ url_for('signup') }}">
        singup
      </a>
    </div>
    </div>
  </div>
  <!-- <div id="under-color"></div>
  <div id="under-color2"></div> -->
</div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <!-- <div id="ccc">
         <a class="switch-register-mode" href="{{ url_for('signup') }}">
            singup
          </a>
        </div> -->
        </form>
      </div>
      <!-- <div id="ccc"><button class="sin">singup</button></div> -->
    <!-- </div>
  </div> -->
{% endblock %}
