body {
  background-color: ivory;
}

.chatroom {
  display: flex;
}

.container {
  background: rgb(248, 248, 166);
  height: 60vh;
  width: 40vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.container-title {
  font-size: 4rem;
  color: rgb(240, 158, 16);
  text-shadow: 1px 1px 0 rgb(212, 209, 209);
  margin-top: 5rem;
}

ul.roomlist {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 40px;
}

ul.roomlist > li {
  font-size: 3rem;
  margin: 1rem;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 100%;
}

ul.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.pagination > li {
  font-size: 1.5rem;
  margin: 0 1rem;
}

#prev {
  margin-right: 3rem;
}

#next {
  margin-left: 3rem;
}

#button-room {
  display: flex;
}

button#add-channel-btn {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 40px;
  margin: 30px 30px;
  font-size: 2rem;
  width: 150px;
  padding: 10px;
  color: rgb(249, 246, 246);
  background-color: orange;
  border-radius: 20px;
  border: 2px;
  /* border-bottom: 5px solid #ccc100; */
}

button#add-channel-btn:hover {
  margin-top: 40px;
  margin: 30px 30px;
  color: black;
  background: rgb(241, 15, 162);
  border-bottom: 2px solid #ccc100;
}

button#btn-create-room {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 40px;
  margin: 30px 30px;
  font-size: 2rem;
  width: 150px;
  padding: 10px;
  color: rgb(249, 246, 246);
  background-color: orange;
  border-radius: 20px;
  border: 2px;
  /* border-bottom: 5px solid #ccc100; */
}

button#btn-create-room:hover {
  margin-top: 40px;
  margin: 30px 30px;
  color: black;
  background: rgb(241, 15, 162);
  border-bottom: 2px solid #ccc100;
}

#picture {
  display: flex;
  text-align: center;
}

#picture-1 {
  background-image: url(../img/AdobeStock_533596030.jpeg);
  background-size: 100%;
  height: 200px;
  width: 300px;
  margin: 0px 20px 0px 95px;
  padding-top: 150px;
  color: ivory;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgb(212, 209, 209);
  text-decoration: underline;
  opacity: 0.7;
}
#picture-2 {
  background-image: url(../img/AdobeStock_309920077_Editorial_Use_Only.jpeg);
  background-size: 100%;
  height: 200px;
  width: 300px;
  margin: 0px 20px;
  padding-top: 150px;
  color: ivory;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgb(212, 209, 209);
  text-decoration: underline;
  opacity: 0.7;
}

#picture-3 {
  background-image: url(../img/AdobeStock_139879326.jpeg);
  background-size: 100%;
  height: 200px;
  width: 300px;
  margin: 0px 20px;
  padding-top: 150px;
  color: ivory;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgb(212, 209, 209);
  text-decoration: underline;
  opacity: 0.7;
}
#picture-4 {
  background-image: url(../img/AdobeStock_264412156.jpeg);
  background-size: 100%;
  height: 200px;
  width: 300px;
  margin: 0px 20px;
  padding-top: 150px;
  color: ivory;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgb(212, 209, 209);
  text-decoration: underline;
  opacity: 0.7;
}
