body {
  margin: 0px;
  background-image: url(../img/AdobeStock_227776485.jpeg);
  background-size: 100%;
}


#singup-box {
    position: absolute;
    padding: 10px 20px ;
    top: 30px;
}

h1 {
  margin-bottom: 10px;
}

#message-1 {
  text-align: right;
  font-size: 60px;
  font-family:Arial, Helvetica, sans-serif;
  color: yellow;
  position: absolute;
  padding: 40px;
  left: 1050px;
  top: 140px;

}

#message-2 {
  text-align: right;
  font-size: 60px;
  font-family:Arial, Helvetica, sans-serif;
  color: yellow;
  position: absolute;
  padding: 40px;
  left: 1050px;
  top: 250px;

}

#singup-box-2 {
  background-color: ivory;
  margin: 0px 30px;
  border-radius: 10px;
  opacity: 0.9;
  width: 500px;
  text-align: center;
}

#singup-title {
    margin-top: 40px;
    padding-top: 10px;
    color: orange;
    font-size: 30px;
    text-align: center;
}

input {
  display: flex;
  text-align: left;
  width: 230px;
  height: 25px;
  margin: 30px 100px 10px 100px;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-right: none;
  border-left: none;
}
input::placeholder {
  width: 180px;
  font-size: 17px;
}


.input-area {
  display: block;
  text-align: center;
  line-height: 150px;
  height: 200px;
  padding: 0px 30px 30px 30px;
  margin-bottom: 80px;
}

.registration-form {
    margin:0px;
    padding-bottom:40px ;
}

#input-1 {
  padding: 5px 0px;
}
#input-2 {
  padding: 5px 0px;
}
#input-3 {
  padding: 5px 0px;
}
#input-4 {
  padding: 5px 0px;
}

.singup-button {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 30px;
  border-radius: 10px;
  border: 4px;
  width: 150px;
  background-color: orange;
  color:rgb(251, 250, 247);
}

.singup-button:hover {
  background-color: rgb(243, 12, 173);
  transform: scale(1.1);
  cursor: pointer;
}

.switch-register-mode2 {
  width: 200px;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  color: rgb(245, 213, 7);
  font-weight: 300;
  margin-top: 20px;
}

.switch-register-mode2:hover {
  color: rgb(243, 12, 173);
}

.flashes {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 30px;
  list-style: none;
  color:rgb(243, 12, 173) ;
}