{% extends 'base.html' %} 
{% block title %}
chatroom
{% endblock %}
{% block body %}
<main>
	<div class="room-container">
		<div class="message-container">
			<!-- 自分のメッセージと相手のメッセージでクラスを分ける -->
			{% if messages|length > 0 %}
				{% for message in messages %}
					{% if message.uid == uid %}
					<div class="my-messages">
						<p class="message-right">{{ message.message }}</p>
					</div>
					{% else %}
					<div class="messages">
						<p class="user-name">{{ message.user_name }}</p>
						<p class="message-left">{{ message.message }}</p>
					</div>
					{% endif %}
				{% endfor %}
			{% else %}
			<div><p>まだメッセージがありません</p></div>
			{% endif %}
		</div>
		<div class="message-form">
			<form action="/message" method="POST">
				<input type="hidden" name="channel_id" id="input-message" value="{{ channel.id }}" />
				<textarea name="message" id="message" autofocus></textarea>
				<input  value="{{ channel.id }}">
				<button class="btn-send-message" id="add-message-btn" type="submit">
					送信
				</button>
			</form>
		</div>
	</div>
</main>
{% endblock %}
{% block script %}
<script type="text/javascript">
	const channel = JSON.parse("{{ channel|tojson }}");
	const uid = JSON.parse("{{ uid|tojson }}");
</script>
<script
		src="{{url_for('static',filename='js/scroll-message.js')}}"
		type="text/javascript"
		></script>
{% endblock %}
